<h1> LinkMarket - Comment Page </h1>

<div>
  <%= link_to "Back", :back %>
</div>

<%= form_tag(comments_create_path) do %>
  <div class="form-group">
    <%= label_tag(:title, "Comment: ") %>
    <br/>
    <%= text_area_tag(:content, nil, rows: 20, cols: 60) %>
  </div>

  <div><%= submit_tag 'Save', class: 'btn btn-default' %></div>

  <div>
    <% @all_comments.each do |comment| %>
      <%= comment.user.email %>
    <% end %>


<% end %>
