<h1> LinkMarket - Homepage </h1>
<%= link_to "Login", new_user_session_path %>
<%= link_to "Register", new_user_registration_path %>
<%= link_to "Post Link", links_path %>

<div class="links">
  <ol>
  <% @links.each do |link| %>
    <li>
      <%= link_to link.title, link.destination %> <br>
      <%= link_to "Comments", comments_new_path(link) %>
    </li>
  <% end %>
  </ol>
</div>
