<h1> LinkMarket - Homepage </h1>
<div class="links">
  <% @links.each do |post| %>
    <%= <a href = @post.destination>text_field_tag(:title @post.title)%>
    <%=link_to "Comments", comments_new_path %>
  <% end %>
</div>

<%= link_to "Login", users_login_path %>
<%= link_to "Register", users_new_path %>
<%= link_to "Post Link", links_new_path %>
