<div class="container">
  <div class="row">
    <h1> LinkMarket - Homepage </h1>
  </div>
  <div class="nav-bar">
    <div class="row">
      <p class="top-row">
      <%= link_to "Login", new_user_session_path, class: 'btn btn-info, bg-info' %>
      <%= link_to "Register", new_user_registration_path, class: 'btn btn-info' %>
      <%= link_to "Post Link", links_path, class: 'btn btn-info' %>

      <% if current_user %>
      <%= link_to "Log Out", destroy_user_session_path,class: 'btn btn-primary',
            method: :delete %>
      <% end %>
      </p>
    </div>
  </div>

<div class="links">
  <ol>
  <% @links.each do |link| %>
    <li>
      <%= link_to link.title, link.destination, class:"text-info" %> <br>
      <%= link_to "Comments", comments_new_path(link), class: 'btn btn-primary btn-xs' %><br>
    </li>
  <% end %>
  </ol>
</div>
</div>
